<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> A personal diary web application where one can record their daily
        emotions, activities, ideas, dreams or keep track of their milestones.</p>
        <p>
            In the midst of the hustle and bustle of daily living, there is an indisputable need to keep a diary. 
            Our minds also build up tons of emotions and our creativity comes alive. 
            With so much bubbling within us, we have to let our thoughts and emotions flow into written or spoken words,
            this not only helps us to manage stress, enhance creativity, increase happiness, improve health, and increase work performance but 
            also helps in improving writing skills.
        </p>
        <p>
            But the trouble is, maintaining a paper diary is a tedious work. Not only it is prone to damage but
            there is a little scope of editing. For example, a paper diary can be easily damaged, lost, misplaced or stolen. 
            Also, if you want to make changes to a paper diary, you will need to write all the content again. 
            So instead of opting for a traditional diary or a notebook where one can pen down their thoughts and express their feelings
            and creativity, they can use a web application- Daily Journal and have it with them anytime, any day and anywhere.
            All that's needed is digital device. 
        </p>
<%- include("partials/footer"); -%>
