<%- include("partials/header"); -%>
    <h1>Contact</h1>
<a  href="https://ssejal942.github.io/MyWebsite/" target="_blank"><i class="fas fa-2x fa-user"></i> My website </a><br>
<a href="https://www.facebook.com/profile.php?id=100008595225619" target="_blank" > <i class="social-icon fab fa-2x fa-facebook"></i> Sejal Parmar</a><br>
<a href="https://www.instagram.com/sejalparmar01" target="_blank" > <i class=" social-icon fab fa-2x fa-instagram"></i>sejalparmar01</a><br>
<a href="#" > <i class=" social-icon fas fa-2x fa-envelope"></i> ssejal942@gmail.com</a><br>
<a  href="https://www.linkedin.com/in/sejal-singh-04b55b1b4" target="_blank"><i class="fab fa-2x fa-linkedin"></i> sejal-singh</a> 
<%- include("partials/footer"); -%>
